body {
    font-family: 'Cardo', serif;
    margin-top: 0px;
    text-align: center;
}

.sidebars {
    display: grid;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
}

#sidebar1 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Hogwarts_Ravenclaw_colors.svg);
}

#sidebar4 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b5/Hogwarts_Ravenclaw_colors.svg);
}

#sidebar2 {
    background-image: url("../images/background4.png");
    background-position: center;
    
}

#results {
    background-color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.container {
    margin-bottom: 120px;
}

#app {
    display: table;
    width: 100%;
}

.submitBtn {
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
}

h1 {
    font-weight: bold;
    font-size: 100px;
    margin-top: 60px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-weight: bold;
    margin-top: 20px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

ol {
    list-style-type: none;
}

.options {
    font-size: 40px;
}
